.list-item {
    cursor: pointer;
    padding: 10px;
    color: $mainGrey;
    text-align: center;
    font-size: 1.2rem;
    border: solid 1px black;

    &:last-child {
        
    }

    &__logo {
        height: 30px;
        pointer-events: none;
    }

    &__altitude {
        pointer-events: none;
    }

    &__flight-code {
        pointer-events: none;
    }
}